.logo{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.sign {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.raleway-font{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
 

        /* navigate part */
        *display size{
            background: none;
            width:517px;
        }
        
        .body-modify{
            display: flex;
            justify-content: center;
        }



        .header{
            background-image: url(./Hero-bg.png);
            width: 1440px;
            height: 698px;  
          
        }
        
        .logo-modify{
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 0px 145px;
            margin-top: 0;
            margin-right: 0;
        }
        .logo {
            margin: 50px;
            font-size: 34px;
            color: #4E47FF;
            
        }

        .sign{
            margin: 50px;
        }
        .sign {
            border: 1px solid black;
            padding:12px 36px ;
            background-color:#4E47FF ;
            font-size: 16px;
            color: white;
            border-radius: 10px;
            border-style: none;
            text-align: center;


        }
        /* header content section */
        .pera{
            text-align: center;
            font-size: 40px;
            color: #252432;
            
        line-height: 0%;

        }
        .button{
        
        text-align: center;
        
            
        }
        .content{
            padding-top: 150px;
        }


        /* 2nd page */

        div h3{
            font-size: 42px;

        }
        .clickbroc{
            
            padding: 12px 36px;
            border-radius: 10px;
            border-style: none;
            background-color: #4E47FF;
            font-size: 16px;
            color: white;
            margin-left: 0px;
            /* border: 1px solid black;
            padding:12px 36px ;
            background-color:#4E47FF ;
            font-size: 16px;
            color: white;
            border-radius: 10px;
            border-style: none;
            border-width:229px ; */
            
            

        }
        .content-list{
            background: none;
            width:517px;
            padding: 200px 0px;
        }
        .button2{
             font-family: "Open Sans", sans-serif;
             font-optical-sizing: auto;
              font-weight:bold;
             font-style: normal;
             font-variation-settings:
        }
        .contpera{
            color:#8987A1 ;
            font-size: 30px;
            padding: 50px 0ps;
        }
      .space{
        display: flex;
        justify-content: space-between;
        background: white; 
        
        width: 1440px;
        height: 200px;  
           
          
      }
      .image2{
        background-image: url('./Assets/wc-mini.png');
        width: 403px;
        height: 328px;
        border-radius: 48px;
      }
      .heading{
        
        
        background: white; 
        
        width: 700px;
 
      }

      /* third part */



      
    .border{
        border: 1px solid black;
         width: 1440px;
        height: 306px;
        /* width: 856px;
        height: 206px; */
        text-align: center;
       background: none;
       background-color: #cfcee3;
       border-radius: 40px
       
        

        
    }
    .border1{
        text-align: center;
        line-height: 0%;
       
    }
    .flex{
        display: flex;
        gap: 158px;
        margin: 0px 40px;
        padding-left: 300px;
    }
    .user-detail{
        color:#8987A1 ;
        font-size: 30px;
            /* padding: 50px 0ps; */
        font-size: 20px; 
       
    }
    .user{
        font-family: "Open Sans", sans-serif;
        font-size: 80px;
        color: #4E47FF;
        max-height: 30px;

    
    }
    .user-heading{
         font-family: "Open Sans", sans-serif;
         color: #252432;
    }
 

    /* next bigin from text */
    .bigtext{
        font-family: "Open Sans", sans-serif;
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        padding-top: 100px;
        
    }

    /* Card related task */
    .setimage{
        height: 40px;
        width: 40px;
    }
   .name{
       font-size: 15px;
       color: #444446;
       
   }
   .setimage{
    padding-top: 7px;
   }
     .revimage{

        display: flex;
    }
    .date{
        color: #8987A1;
    }

    .card{
          font-family: "Open Sans", sans-serif;
          border: 1px solid black;
          background-color: #F2EDED;
          width: 400px;
          height: 243px;
          border-radius: 14px;
        
    }
    .card{
        padding-left: 20px;
    }

    /* .icon{
        padding: auto;
    } */
    .icon-ul{
       padding-left: 0%;
    }
    .card-flex{
        display: flex;
        gap: 50px;
    }


    /* big web image item here */

     .webi{
        height: 365px;
        width: 840px;
        border-radius: 48px;
     }
     .whead{
        font-size: 50px;
     }
     .webp{
        color: #868691;
     }

     .webb{
        color:white;
        background-color: #4E47FF;
        height: 48px;
        width: 198px;
        border-radius:10px ;
        font-size: 16px;
        border-style: none;
        margin-bottom: 30px;

     }
     .webflow-user-heading{
        margin-top: 200px;
        border: #4E47FF 1px solid;
        width: 1340px;
        height: 700px;
        background-color: whitesmoke;
        padding: 50px;
        text-align: center;
        border-radius: 18px;
        border-style: none;
     }
    

     
    
     
     /* footer */
     .foot-flex{
         font-family: "Open Sans", sans-serif;
        border: 1px black solid;
        width: 1440px;
        height: 430px;
        text-align: center;
        border-style: none;
        
        margin-top: 400px;
     }

     .logo2{
          font-size: 100px;
          color: #4E47FF;
          font-weight:800;
     }
     .last-text{
        color: #8987A1;
        font-size: 40px;
     }

     /* form part */
     .input-section{
        font-family: "Open Sans", sans-serif;
        border: #252432 solid 1px;
        background-color:white;
        height: 650px;
        width: 1140px;
        margin:auto;
        margin-left: 300px;
        border-style: none;
     }

     .form{
        line-height: 0%;

        line
     }
     .email{
        height: 70px;
        width: 500px;
     }
      .name{
        height: 70px;
        width: 500px;
    
     }
      .message{
        
        height: 110px;
        width: 500px;
        
        
     }
     .b4{
        margin-top: 40px;
        height: 110px;
        width:  520px;
        font-size: 50px;

     }
     .email1{
        font-size: 50px;
     }
      .name1{
       font-size: 50px;
    
     }
      .message1{
        font-size: 50px;
     }
     .ipera{
         font-family: "Open Sans", sans-serif;
         font-size: 97px;
         color: #252432;
         font-weight: 800;
         margin-top: 200px;

         
     }
     .info{
        display: flex;
        justify-content: space-between;
        
     }
    .b4{
       
        color: white;
        background-color: #4E47FF;
        border-radius: 14px;
        border-style: none;
    }
    ::placeholder{
        font-size: 30px;
    }
    




     
     

     

    